In [1]:
import pandas 
import pandas as pd
import os

In [2]:
df = pd.read_excel("student_grade.xlsx")

In [3]:
df

,NO,STUDENTID,PREFIX,NAME,SURNAME,SCHOOL,Admit Year,COURSECODE,COURSENAMEENG,SUBGROUP,MAINGROUP,GRADE
0,1,3314260,นางสาว,A,B,School of M,2007,1006119,Intensive English 2,หมวดวิชาเลือกเสรี,หมวดวิชาเลือกเสรี,S
1,2,3314260,นางสาว,A,B,School of M,2007,1001102,Environment and Development,หมวดวิชาศึกษาทั่วไป,หมวดวิชาศึกษาทั่วไป,C
2,3,3314260,นางสาว,A,B,School of M,2007,1001103,Thai Language Skills,หมวดวิชาศึกษาทั่วไป,หมวดวิชาศึกษาทั่วไป,B
3,4,3314260,นางสาว,A,B,School of M,2007,1301104,Introduction to Information Technology,หมวดวิชาศึกษาทั่วไป,หมวดวิชาศึกษาทั่วไป,B
4,5,3314260,นางสาว,A,B,School of M,2007,1006200,Academic English 1,หมวดวิชาศึกษาทั่วไป,หมวดวิชาศึกษาทั่วไป,B
...,...,...,...,...,...,...,...,...,...,...,...,...
117029,117030,7322110,นาย,A,B,School of D,2011,1004352,Human Right Studies,กลุ่มวิชาชีพเลือก,หมวดวิชาเฉพาะ,B
117030,117031,7322110,นาย,A,B,School of D,2011,1202114,Introduction to Economics,กลุ่มวิชาพื้นฐานวิชาชีพ,หมวดวิชาเฉพาะ,C
117031,117032,7322110,นาย,A,B,School of D,2011,1004482,Seminar in Development in ASEAN,กลุ่มวิชาชีพเลือก,หมวดวิชาเฉพาะ,C+
117032,117033,7322110,นาย,A,B,School of D,2011,1004411,Project Management for International Development,กลุ่มวิชาชีพบังคับ,หมวดวิชาเฉพาะ,B
117033,117034,7322110,นาย,A,B,School of D,2011,1004483,Independent Study on HM King Bhumipol Adulyade...,กลุ่มวิชาชีพเลือก,หมวดวิชาเฉพาะ,A

In [4]:
all_df_select_column = ["COURSECODE","COURSENAMEENG","MAINGROUP","GRADE"]
df = df[[*all_df_select_column]]

In [5]:
df = df[df["MAINGROUP"]=="หมวดวิชาเลือกเสรี"]

df.head()

    COURSECODE            COURSENAMEENG          MAINGROUP GRADE
0      1006119      Intensive English 2  หมวดวิชาเลือกเสรี     S
26     1007101                Chinese 1  หมวดวิชาเลือกเสรี     B
39     1008117  Introduction to Hindi 1  หมวดวิชาเลือกเสรี     W
49     1020303    Basic Bahasa Language  หมวดวิชาเลือกเสรี    C+
61     1008321                Myanmar 1  หมวดวิชาเลือกเสรี     W

In [6]:
df.shape

(8205, 4)

In [7]:
df.head()

    COURSECODE            COURSENAMEENG          MAINGROUP GRADE
0      1006119      Intensive English 2  หมวดวิชาเลือกเสรี     S
26     1007101                Chinese 1  หมวดวิชาเลือกเสรี     B
39     1008117  Introduction to Hindi 1  หมวดวิชาเลือกเสรี     W
49     1020303    Basic Bahasa Language  หมวดวิชาเลือกเสรี    C+
61     1008321                Myanmar 1  หมวดวิชาเลือกเสรี     W

In [8]:
df.groupby(["COURSECODE"]).size()

COURSECODE
1001101     6
1001102     1
1001103     5
1001106     6
1001108    19
           ..
2302309     7
2404423     1
2408001     3
2408002    27
2408003    19
Length: 345, dtype: int64

In [9]:
df.groupby(["COURSENAMEENG"]).size()

COURSENAMEENG
\tPlants and People                                         13
ASEAN Cross-Cultural Communication for Service Business      1
ASEAN Foods                                                103
ASEAN Law                                                    2
ASEAN Studies                                               20
                                                          ...
User Interface Design                                        1
Web Design and Development                                   8
Western Civilization                                        12
Wireless Communication                                       4
World Community                                              1
Length: 319, dtype: int64

In [10]:
df[df["COURSENAMEENG"]=='Plants and People'].groupby(["COURSECODE"]).size()

COURSECODE
2109131    32
dtype: int64

In [11]:
df[df["COURSENAMEENG"]=='\tPlants and People'].groupby(["COURSECODE"]).size()

COURSECODE
2109131    13
dtype: int64

In [12]:
df[df["COURSENAMEENG"]=='Chinese Listening from Audio Visual Aids'].groupby(["COURSECODE"]).size()

COURSECODE
2404423    1
dtype: int64

In [13]:
df[df["COURSENAMEENG"]=='Chinese Listening from Audio-Visual Aids'].groupby(["COURSECODE"]).size()

COURSECODE
1016442    1
dtype: int64

In [14]:
df[df["COURSENAMEENG"]=='Man and Society'].groupby(["COURSECODE"]).size()

COURSECODE
1001101    6
1001106    6
2302102    4
dtype: int64

In [15]:
df[df["COURSENAMEENG"]=='Intensive English 2'].groupby(["GRADE"]).size()

GRADE
S    17
dtype: int64

In [16]:
df[df["COURSENAMEENG"]=='Intensive English'].groupby(["GRADE"]).size()

GRADE
S    1945
U       1
dtype: int64

In [17]:
df.head()

    COURSECODE            COURSENAMEENG          MAINGROUP GRADE
0      1006119      Intensive English 2  หมวดวิชาเลือกเสรี     S
26     1007101                Chinese 1  หมวดวิชาเลือกเสรี     B
39     1008117  Introduction to Hindi 1  หมวดวิชาเลือกเสรี     W
49     1020303    Basic Bahasa Language  หมวดวิชาเลือกเสรี    C+
61     1008321                Myanmar 1  หมวดวิชาเลือกเสรี     W

In [18]:
df["COURSENAMEENG"] = df["COURSENAMEENG"].replace("\t", "", regex=True)

In [19]:
df.groupby(["COURSENAMEENG"]).size()

COURSENAMEENG
ASEAN Cross-Cultural Communication for Service Business      1
ASEAN Foods                                                103
ASEAN Law                                                    2
ASEAN Studies                                               20
Academic Oral Skills                                         3
                                                          ...
User Interface Design                                        1
Web Design and Development                                   8
Western Civilization                                        12
Wireless Communication                                       4
World Community                                              1
Length: 318, dtype: int64

In [20]:
grade_list = list(df['GRADE'].unique())

In [21]:
grade_list= sorted(grade_list)

In [22]:
grade_list

['A', 'B', 'B+', 'C', 'C+', 'D', 'D+', 'F', 'S', 'U', 'V', 'W']

In [23]:
df.groupby('COURSECODE').COURSENAMEENG.nunique()

COURSECODE
1001101    1
1001102    1
1001103    1
1001106    1
1001108    1
          ..
2302309    1
2404423    1
2408001    1
2408002    1
2408003    1
Name: COURSENAMEENG, Length: 345, dtype: int64

In [24]:
number_student_df = df.copy()

In [25]:
number_student_df['NUMBER_OF_STUDENT'] = number_student_df.groupby(['COURSECODE','COURSENAMEENG'])['COURSECODE'].transform('count')

In [26]:
grade_df_list = number_student_df.groupby(['COURSECODE','COURSENAMEENG','NUMBER_OF_STUDENT'])['GRADE'].apply(list).reset_index()

In [27]:
grade_df_list

,COURSECODE,COURSENAMEENG,NUMBER_OF_STUDENT,GRADE
0,1001101,Man and Society,6,"[C+, C, B+, C, C+, B+]"
1,1001102,Environment and Development,1,[D]
2,1001103,Thai Language Skills,5,"[C+, D+, C, B, C+]"
3,1001106,Man and Society,6,"[C, B, C, C, C, W]"
4,1001108,Introduction to International Migration,19,"[W, W, B+, C, B, C, C+, B, C, B, C, B+, A, B+,..."
...,...,...,...,...
340,2302309,Environment and Development,7,"[D+, A, A, C+, A, A, C+]"
341,2404423,Chinese Listening from Audio Visual Aids,1,[A]
342,2408001,Chinese 1,3,"[A, A, A]"
343,2408002,Chinese 2,27,"[C, B+, B+, D+, B+, A, A, A, A, C, A, A, W, A,..."
344,2408003,Chinese 3,19,"[A, A, A, B+, B+, B+, V, V, A, V, A, V, W, V, ..."

In [28]:
grade_df = pd.DataFrame(grade_df_list)

In [29]:
grade_df.head()

,COURSECODE,COURSENAMEENG,NUMBER_OF_STUDENT,GRADE
0,1001101,Man and Society,6,"[C+, C, B+, C, C+, B+]"
1,1001102,Environment and Development,1,[D]
2,1001103,Thai Language Skills,5,"[C+, D+, C, B, C+]"
3,1001106,Man and Society,6,"[C, B, C, C, C, W]"
4,1001108,Introduction to International Migration,19,"[W, W, B+, C, B, C, C+, B, C, B, C, B+, A, B+,..."

In [30]:
grade_df.columns

Index(['COURSECODE', 'COURSENAMEENG', 'NUMBER_OF_STUDENT', 'GRADE'], dtype='object')

In [31]:
def count_grade(grade_col,grade_value):
    grade_count = grade_col.count(grade_value)
    return grade_count

In [32]:
for grade in grade_list:
    grade_df[grade] = grade_df["GRADE"].apply(count_grade,grade_value=grade)

In [33]:
grade_df

,COURSECODE,COURSENAMEENG,NUMBER_OF_STUDENT,GRADE,A,B,B+,C,C+,D,D+,F,S,U,V,W
0,1001101,Man and Society,6,"[C+, C, B+, C, C+, B+]",0,0,2,2,2,0,0,0,0,0,0,0
1,1001102,Environment and Development,1,[D],0,0,0,0,0,1,0,0,0,0,0,0
2,1001103,Thai Language Skills,5,"[C+, D+, C, B, C+]",0,1,0,1,2,0,1,0,0,0,0,0
3,1001106,Man and Society,6,"[C, B, C, C, C, W]",0,1,0,4,0,0,0,0,0,0,0,1
4,1001108,Introduction to International Migration,19,"[W, W, B+, C, B, C, C+, B, C, B, C, B+, A, B+,...",1,5,4,4,3,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,2302309,Environment and Development,7,"[D+, A, A, C+, A, A, C+]",4,0,0,0,2,0,1,0,0,0,0,0
341,2404423,Chinese Listening from Audio Visual Aids,1,[A],1,0,0,0,0,0,0,0,0,0,0,0
342,2408001,Chinese 1,3,"[A, A, A]",3,0,0,0,0,0,0,0,0,0,0,0
343,2408002,Chinese 2,27,"[C, B+, B+, D+, B+, A, A, A, A, C, A, A, W, A,...",13,1,3,2,1,0,2,1,0,0,3,1
344,2408003,Chinese 3,19,"[A, A, A, B+, B+, B+, V, V, A, V, A, V, W, V, ...",6,0,3,0,0,0,0,0,0,0,8,2

In [34]:
grade_df.columns

Index(['COURSECODE', 'COURSENAMEENG', 'NUMBER_OF_STUDENT', 'GRADE', 'A', 'B',
       'B+', 'C', 'C+', 'D', 'D+', 'F', 'S', 'U', 'V', 'W'],
      dtype='object')

In [35]:
grade_df.dtypes

COURSECODE            int64
COURSENAMEENG        object
NUMBER_OF_STUDENT     int64
GRADE                object
A                     int64
B                     int64
B+                    int64
C                     int64
C+                    int64
D                     int64
D+                    int64
F                     int64
S                     int64
U                     int64
V                     int64
W                     int64
dtype: object

In [36]:
grade_df = grade_df.drop(columns=['GRADE'])

In [37]:
order_column = ["COURSECODE","COURSENAMEENG","NUMBER_OF_STUDENT","A","B+","B","C+","C","D+","D","F","S","U","V","W"]
grade_df = grade_df[[*order_column]]

In [38]:
grade_df.head(400)

,COURSECODE,COURSENAMEENG,NUMBER_OF_STUDENT,A,B+,B,C+,C,D+,D,F,S,U,V,W
0,1001101,Man and Society,6,0,2,0,2,2,0,0,0,0,0,0,0
1,1001102,Environment and Development,1,0,0,0,0,0,0,1,0,0,0,0,0
2,1001103,Thai Language Skills,5,0,0,1,2,1,1,0,0,0,0,0,0
3,1001106,Man and Society,6,0,0,1,0,4,0,0,0,0,0,0,1
4,1001108,Introduction to International Migration,19,1,4,5,3,4,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,2302309,Environment and Development,7,4,0,0,2,0,1,0,0,0,0,0,0
341,2404423,Chinese Listening from Audio Visual Aids,1,1,0,0,0,0,0,0,0,0,0,0,0
342,2408001,Chinese 1,3,3,0,0,0,0,0,0,0,0,0,0,0
343,2408002,Chinese 2,27,13,3,1,1,2,2,0,1,0,0,3,1
344,2408003,Chinese 3,19,6,3,0,0,0,0,0,0,0,0,8,2

In [39]:
grade_df.shape

(345, 15)

In [40]:
grade_df['NUMBER_OF_STUDENT'].sum()

8205

In [41]:
grade_df[grade_df["U"]!=0].groupby(["COURSENAMEENG"]).size()

COURSENAMEENG
Intensive English    1
dtype: int64

In [42]:
result = grade_df.sort_values("A",ascending = False)

In [43]:
result

,COURSECODE,COURSENAMEENG,NUMBER_OF_STUDENT,A,B+,B,C+,C,D+,D,F,S,U,V,W
247,1405101,Principles of Crop Produces,1180,1019,124,26,3,3,1,0,1,0,0,0,3
80,1007211,Chinese-Go,232,187,29,6,2,2,0,0,0,2,0,0,4
89,1008115,Basic Korean 1,273,155,52,31,19,7,6,0,0,0,0,0,3
304,1803320,Spa Therapy,158,127,15,8,2,1,2,0,1,0,0,0,2
244,1401281,Basic Technology of Food Products,161,97,50,13,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,1201111,Principles of Accounting,1,0,0,0,0,0,0,0,1,0,0,0,0
161,1201115,Elementary Accounting 1,2,0,0,0,0,0,1,1,0,0,0,0,0
162,1201116,Elementary Accounting 2,2,0,1,1,0,0,0,0,0,0,0,0,0
164,1202211,Mathematics for Economics,3,0,0,1,0,1,0,1,0,0,0,0,0
172,1202372,Agribusiness and Agro-Industry,1,0,0,1,0,0,0,0,0,0,0,0,0

In [44]:
condition = grade_df['NUMBER_OF_STUDENT'] >=20
grade_df[condition]

,COURSECODE,COURSENAMEENG,NUMBER_OF_STUDENT,A,B+,B,C+,C,D+,D,F,S,U,V,W
6,1001110,Living with Globalization,31,4,17,4,3,0,0,0,0,0,0,0,3
9,1001113,Art Appreciation,77,23,31,13,8,2,0,0,0,0,0,0,0
10,1001115,Arts of Speech,62,29,16,7,4,1,0,0,0,0,0,0,5
17,1001134,Peace Studies,61,4,15,15,12,8,3,1,1,2,0,0,0
18,1001141,General Psychology,41,7,5,10,9,3,3,2,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,2302205,Community Studies,56,14,13,16,9,1,3,0,0,0,0,0,0
334,2302206,Living with Globalization,47,12,6,4,8,8,1,5,2,0,0,0,1
336,2302304,Peace Studies,58,15,11,6,12,8,4,2,0,0,0,0,0
339,2302308,Introduction to Sustainable Development,37,8,13,12,3,1,0,0,0,0,0,0,0
343,2408002,Chinese 2,27,13,3,1,1,2,2,0,1,0,0,3,1

In [47]:
filted = grade_df[condition].sort_values("A",ascending = False)

In [49]:
filted

,COURSECODE,COURSENAMEENG,NUMBER_OF_STUDENT,A,B+,B,C+,C,D+,D,F,S,U,V,W
247,1405101,Principles of Crop Produces,1180,1019,124,26,3,3,1,0,1,0,0,0,3
80,1007211,Chinese-Go,232,187,29,6,2,2,0,0,0,2,0,0,4
89,1008115,Basic Korean 1,273,155,52,31,19,7,6,0,0,0,0,0,3
304,1803320,Spa Therapy,158,127,15,8,2,1,2,0,1,0,0,0,2
244,1401281,Basic Technology of Food Products,161,97,50,13,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,1001306,ASEAN Studies,20,2,5,5,3,4,0,0,1,0,0,0,0
19,1001200,Environment and Development,20,0,0,7,3,9,1,0,0,0,0,0,0
43,1006001,Intensive English,1925,0,0,0,0,0,0,0,0,1924,1,0,0
49,1006126,Foundations of College English 1,20,0,0,0,0,2,1,1,5,0,0,0,11
46,1006121,Intensive English,21,0,0,0,0,0,0,0,0,21,0,0,0

In [50]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [51]:
filted

,COURSECODE,COURSENAMEENG,NUMBER_OF_STUDENT,A,B+,B,C+,C,D+,D,F,S,U,V,W
247,1405101,Principles of Crop Produces,1180,1019,124,26,3,3,1,0,1,0,0,0,3
80,1007211,Chinese-Go,232,187,29,6,2,2,0,0,0,2,0,0,4
89,1008115,Basic Korean 1,273,155,52,31,19,7,6,0,0,0,0,0,3
304,1803320,Spa Therapy,158,127,15,8,2,1,2,0,1,0,0,0,2
244,1401281,Basic Technology of Food Products,161,97,50,13,1,0,0,0,0,0,0,0,0
245,1403307,Thai Traditional Food Recipes,201,77,59,27,27,8,0,1,0,0,0,0,2
289,1703407,Make-up Application for Personality,146,75,39,22,2,0,0,0,0,0,0,0,8
264,1601455,Legal Professional Experience,75,72,2,1,0,0,0,0,0,0,0,0,0
307,1803330,Exercise for Noncommunicable Diseases Prevention,74,53,14,5,1,1,0,0,0,0,0,0,0
127,1020303,Basic Bahasa Language,105,47,26,15,6,6,1,0,2,0,0,0,2
94,1008301,Korean 1,147,46,22,21,24,13,10,4,0,0,0,0,7
85,1008111,Japanese 1,120,46,32,13,7,4,3,1,0,0,0,0,14
106,1009310,Spanish 1,122,45,25,23,8,11,1,1,0,0,0,1,7
28,1001302,Human Relations,109,45,40,17,4,2,0,0,0,0,0,0,1
327,2109250,Entomology and Health,74,45,7,6,4,3,5,2,0,0,0,0,2
303,1803317,Tobacco and Physical Therapy,162,43,51,41,20,4,0,0,0,0,0,0,3
270,1603314,Moot Court,47,35,7,2,1,1,0,0,1,0,0,0,0
40,1005462,Thai Idioms and Proverbs,57,33,13,9,0,1,0,0,1,0,0,0,0
156,1108231,Practical Ceramic,51,30,6,4,1,0,0,0,1,0,0,0,9
10,1001115,Arts of Speech,62,29,16,7,4,1,0,0,0,0,0,0,5
155,1107402,Products and Environmental Impact,54,26,19,6,1,0,0,0,0,0,0,0,2
321,1806427,Exercise and Weight Control,47,25,5,5,4,1,0,1,0,0,0,0,6
323,1901412,Tobacco and Health,124,24,81,19,0,0,0,0,0,0,0,0,0
129,1020308,Bahasa Indonesia 1,38,24,9,3,2,0,0,0,0,0,0,0,0
9,1001113,Art Appreciation,77,23,31,13,8,2,0,0,0,0,0,0,0
71,1007102,Chinese 2,52,22,12,9,4,1,1,0,1,0,0,0,2
86,1008112,Japanese 2,63,21,21,7,6,3,2,0,0,0,0,0,3
262,1601437,Legal Services and Social Justice,20,20,0,0,0,0,0,0,0,0,0,0,0
324,1901413,English Communication for Health Care Professions,123,20,82,20,0,0,0,0,0,0,0,0,1
294,1802214,Applied Thai Traditional Medicine for Sports I...,22,19,3,0,0,0,0,0,0,0,0,0,0
100,1009101,French 1,55,18,10,9,2,1,4,5,2,0,0,0,4
108,1009320,Italian 1,59,16,8,9,12,6,1,1,0,0,0,0,6
336,2302304,Peace Studies,58,15,11,6,12,8,4,2,0,0,0,0,0
101,1009102,French 2,25,14,5,2,0,0,1,0,0,0,0,0,3
126,1020301,Spoken Myanmar Language for Communication for ...,33,14,7,2,3,3,0,1,0,0,0,0,3
333,2302205,Community Studies,56,14,13,16,9,1,3,0,0,0,0,0,0
246,1403312,ASEAN Foods,103,13,30,21,22,11,2,0,1,0,0,0,3
311,1804105,Life and Health,45,13,5,9,11,6,1,0,0,0,0,0,0
343,2408002,Chinese 2,27,13,3,1,1,2,2,0,1,0,0,3,1
104,1009107,French Food Culture,41,13,6,5,2,3,2,1,0,0,0,0,9
90,1008116,Basic Korean 2,21,13,4,4,0,0,0,0,0,0,0,0,0
177,1203132,Principles of Business Management,23,12,4,2,1,3,0,1,0,0,0,0,0
334,2302206,Living with Globalization,47,12,6,4,8,8,1,5,2,0,0,0,1
87,1008113,Japanese 3,24,12,5,2,3,2,0,0,0,0,0,0,0
92,1008121,Burmese 1,48,11,8,10,6,3,2,2,0,0,0,0,6
339,2302308,Introduction to Sustainable Development,37,8,13,12,3,1,0,0,0,0,0,0,0
38,1005314,Thai Wisdom,40,8,15,12,3,1,0,0,0,0,0,0,1
325,2109131,Plants and People,45,8,6,11,7,5,1,4,0,0,0,0,3
95,1008302,Korean 2,24,8,5,2,5,1,0,1,0,0,0,0,2
18,1001141,General Psychology,41,7,5,10,9,3,3,2,0,0,0,0,2
149,1106100,Mathematics for Life,20,7,2,5,2,1,1,2,0,0,0,0,0
39,1005362,Thai Language and Society,21,7,9,3,1,0,0,0,0,0,0,0,1
81,1007212,Chinese Folk Custom,38,6,1,11,8,6,4,1,0,0,0,0,1
107,1009311,Spanish 2,28,5,8,7,6,1,0,0,0,0,0,1,0
84,1008105,Basic Japanese 1,23,5,3,3,4,3,0,0,0,0,0,0,5
17,1001134,Peace Studies,61,4,15,15,12,8,3,1,1,2,0,0,0
6,1001110,Living with Globalization,31,4,17,4,3,0,0,0,0,0,0,0,3
30,1001306,ASEAN Studies,20,2,5,5,3,4,0,0,1,0,0,0,0
19,1001200,Environment and Development,20,0,0,7,3,9,1,0,0,0,0,0,0
43,1006001,Intensive English,1925,0,0,0,0,0,0,0,0,1924,1,0,0
49,1006126,Foundations of College English 1,20,0,0,0,0,2,1,1,5,0,0,0,11
46,1006121,Intensive English,21,0,0,0,0,0,0,0,0,21,0,0,0

In [62]:
filted_no_inten = filted [filted ["COURSENAMEENG"]!="Intensive English"]

In [63]:
filted_no_found = filted_no_inten [filted_no_inten ["COURSENAMEENG"]!="Foundations of College English 1"]

In [64]:
filted_no_found

,COURSECODE,COURSENAMEENG,NUMBER_OF_STUDENT,A,B+,B,C+,C,D+,D,F,S,U,V,W
247,1405101,Principles of Crop Produces,1180,1019,124,26,3,3,1,0,1,0,0,0,3
80,1007211,Chinese-Go,232,187,29,6,2,2,0,0,0,2,0,0,4
89,1008115,Basic Korean 1,273,155,52,31,19,7,6,0,0,0,0,0,3
304,1803320,Spa Therapy,158,127,15,8,2,1,2,0,1,0,0,0,2
244,1401281,Basic Technology of Food Products,161,97,50,13,1,0,0,0,0,0,0,0,0
245,1403307,Thai Traditional Food Recipes,201,77,59,27,27,8,0,1,0,0,0,0,2
289,1703407,Make-up Application for Personality,146,75,39,22,2,0,0,0,0,0,0,0,8
264,1601455,Legal Professional Experience,75,72,2,1,0,0,0,0,0,0,0,0,0
307,1803330,Exercise for Noncommunicable Diseases Prevention,74,53,14,5,1,1,0,0,0,0,0,0,0
127,1020303,Basic Bahasa Language,105,47,26,15,6,6,1,0,2,0,0,0,2
94,1008301,Korean 1,147,46,22,21,24,13,10,4,0,0,0,0,7
85,1008111,Japanese 1,120,46,32,13,7,4,3,1,0,0,0,0,14
106,1009310,Spanish 1,122,45,25,23,8,11,1,1,0,0,0,1,7
28,1001302,Human Relations,109,45,40,17,4,2,0,0,0,0,0,0,1
327,2109250,Entomology and Health,74,45,7,6,4,3,5,2,0,0,0,0,2
303,1803317,Tobacco and Physical Therapy,162,43,51,41,20,4,0,0,0,0,0,0,3
270,1603314,Moot Court,47,35,7,2,1,1,0,0,1,0,0,0,0
40,1005462,Thai Idioms and Proverbs,57,33,13,9,0,1,0,0,1,0,0,0,0
156,1108231,Practical Ceramic,51,30,6,4,1,0,0,0,1,0,0,0,9
10,1001115,Arts of Speech,62,29,16,7,4,1,0,0,0,0,0,0,5
155,1107402,Products and Environmental Impact,54,26,19,6,1,0,0,0,0,0,0,0,2
321,1806427,Exercise and Weight Control,47,25,5,5,4,1,0,1,0,0,0,0,6
323,1901412,Tobacco and Health,124,24,81,19,0,0,0,0,0,0,0,0,0
129,1020308,Bahasa Indonesia 1,38,24,9,3,2,0,0,0,0,0,0,0,0
9,1001113,Art Appreciation,77,23,31,13,8,2,0,0,0,0,0,0,0
71,1007102,Chinese 2,52,22,12,9,4,1,1,0,1,0,0,0,2
86,1008112,Japanese 2,63,21,21,7,6,3,2,0,0,0,0,0,3
262,1601437,Legal Services and Social Justice,20,20,0,0,0,0,0,0,0,0,0,0,0
324,1901413,English Communication for Health Care Professions,123,20,82,20,0,0,0,0,0,0,0,0,1
294,1802214,Applied Thai Traditional Medicine for Sports I...,22,19,3,0,0,0,0,0,0,0,0,0,0
100,1009101,French 1,55,18,10,9,2,1,4,5,2,0,0,0,4
108,1009320,Italian 1,59,16,8,9,12,6,1,1,0,0,0,0,6
336,2302304,Peace Studies,58,15,11,6,12,8,4,2,0,0,0,0,0
101,1009102,French 2,25,14,5,2,0,0,1,0,0,0,0,0,3
126,1020301,Spoken Myanmar Language for Communication for ...,33,14,7,2,3,3,0,1,0,0,0,0,3
333,2302205,Community Studies,56,14,13,16,9,1,3,0,0,0,0,0,0
246,1403312,ASEAN Foods,103,13,30,21,22,11,2,0,1,0,0,0,3
311,1804105,Life and Health,45,13,5,9,11,6,1,0,0,0,0,0,0
343,2408002,Chinese 2,27,13,3,1,1,2,2,0,1,0,0,3,1
104,1009107,French Food Culture,41,13,6,5,2,3,2,1,0,0,0,0,9
90,1008116,Basic Korean 2,21,13,4,4,0,0,0,0,0,0,0,0,0
177,1203132,Principles of Business Management,23,12,4,2,1,3,0,1,0,0,0,0,0
334,2302206,Living with Globalization,47,12,6,4,8,8,1,5,2,0,0,0,1
87,1008113,Japanese 3,24,12,5,2,3,2,0,0,0,0,0,0,0
92,1008121,Burmese 1,48,11,8,10,6,3,2,2,0,0,0,0,6
339,2302308,Introduction to Sustainable Development,37,8,13,12,3,1,0,0,0,0,0,0,0
38,1005314,Thai Wisdom,40,8,15,12,3,1,0,0,0,0,0,0,1
325,2109131,Plants and People,45,8,6,11,7,5,1,4,0,0,0,0,3
95,1008302,Korean 2,24,8,5,2,5,1,0,1,0,0,0,0,2
18,1001141,General Psychology,41,7,5,10,9,3,3,2,0,0,0,0,2
149,1106100,Mathematics for Life,20,7,2,5,2,1,1,2,0,0,0,0,0
39,1005362,Thai Language and Society,21,7,9,3,1,0,0,0,0,0,0,0,1
81,1007212,Chinese Folk Custom,38,6,1,11,8,6,4,1,0,0,0,0,1
107,1009311,Spanish 2,28,5,8,7,6,1,0,0,0,0,0,1,0
84,1008105,Basic Japanese 1,23,5,3,3,4,3,0,0,0,0,0,0,5
17,1001134,Peace Studies,61,4,15,15,12,8,3,1,1,2,0,0,0
6,1001110,Living with Globalization,31,4,17,4,3,0,0,0,0,0,0,0,3
30,1001306,ASEAN Studies,20,2,5,5,3,4,0,0,1,0,0,0,0
19,1001200,Environment and Development,20,0,0,7,3,9,1,0,0,0,0,0,0

In [65]:
filted_no_found.to_csv("C:\\Users\\pongtep\\Desktop\\DataSCI\\complete_form.csv")